{% extends 'layout/layout.twig' %}

{% block content %}
<div class="jumbotron">
    <h1>{{ translate('Welcome to %sZend Framework 2%s'|format('<span class="zf-green">', '</span>')) }}</h1>
    <p>{{ translate('Congratulations! You have successfully installed the %sZF2 Skeleton Application%s. You are currently running Zend Framework version %s. This skeleton can serve as a simple starting point for you to begin building your application on ZF2.'|format('<a href="https://github.com/zendframework/ZendSkeletonApplication" target="_blank">', '</a>', 2)) }}</p>
    <p><a class="btn btn-success btn-lg" href="https://github.com/zendframework/zf2" target="_blank">{{ translate('Fork Zend Framework 2 on GitHub') }} &raquo;</a></p>
</div>

<div class="row">
    <h2>input</h2>
    {% if (inputs.isValid is defined) and (inputs.isValid == false) %}
        <h3>入力内容に不備があります。再度ご確認の上登録ください</h3>
    {% endif %}
    <form action="{{ url('member/regist', {'action':'confirm', 'cvid': cvid}) }}" method='post'>
        <table border="0">
            <tr>
                <td align="right"><b> id：</b></td>
                <td><input type='text' name="{{ inputs.login_id.name }}" value="{{ inputs.login_id.rawValue}}"></input></td>
            </tr>
            <tr>
                <td></td>
                  {% if inputs.login_id.messages is not empty %}
                      {%  for message in inputs.login_id.messages %}
                        <td><b>{{ message }}</b></td>
                      {% endfor %}
                  {% endif %}
            </tr>
            <tr>
                <td align="right"><b> birth day：</b></td>
                <td><input type='date' name="{{ inputs.birth_day.name }}" value="{{ inputs.birth_day.rawValue}}"></input></td>
            </tr>
            <tr>
                <td></td>
                  {% if inputs.birth_day.messages is not empty %}
                      {%  for message in inputs.birth_day.messages %}
                        <td><b>{{ message }}</b></td>
                      {% endfor %}
                  {% endif %}
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="送信"></td>
             </tr>
        </table>
    </form>
</div>
{% endblock content %}
